@model OnlineDiary.Models.CRUDViewModels.DeleteUserViewModel
@{
    ViewBag.Title = "Delete";
}
<h2>Delete</h2>
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DiaryUser</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => Model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => Model.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => Model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => Model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => Model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => Model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => Model.ParentName)
        </dt>
        <dd>
            @Html.DisplayFor(model => Model.ParentName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => Model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => Model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => Model.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => Model.PhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => Model.Role)
        </dt>
        <dd>
            @{
                var nameRole = Model.GetRoleNameById(Model.Id);
            }
            @Html.DisplayFor(model => nameRole)
        </dd>
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
