@model List<OnlineDiary.Models.EditUserViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Список пользователей</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Email, "Edit", new { id = item.Id })
                @*@Html.DisplayFor(modelItem => item.Email)*@
            </td>
            <td>
                <ul>
                    <li>@Html.DisplayFor(modelItem => item.FirstName)</li>
                    <li>@Html.DisplayFor(modelItem => item.LastName)</li>
                    <li>@Html.DisplayFor(modelItem => item.UserName)</li>
                </ul>
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
