@model OnlineDiary.Models.ListLessonsViewModel
@{
    ViewBag.Title = "Список предметов";
}

<div class="page-header">
    @Html.ActionLink("Добавить предмет", "AddLesson", null, new { @class = "btn btn-primary pull-right" })
    <h2>Список предметов</h2>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                <h3>Название</h3>
            </th>
            <th>
                <h3>Действия</h3>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Lessons)
        {
            <tr>
                <td>@item.Title</td>
                <td>@Html.ActionLink("Редактировать", "EditLesson", new { Id = item.Id }) | @Html.ActionLink("Удаление", "DeleteLesson", new { Id = item.Id })</td>
            </tr>
        }
    </tbody>
</table>
<div style="text-align:center">
    <ul class="pagination" style="display:inline-block;">
        @for (int i = 0; i < Model.PageCount; i++)
        {
            if (Model.page == i)
            {
                <li class="active">@Html.ActionLink((i + 1).ToString(), "ListLesson", new { page = i })</li>
            } else
            {
                <li>@Html.ActionLink((i + 1).ToString(), "ListLesson", new { page = i })</li>
            }
        }
    </ul>
</div>