<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Онлайн дневник</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/main.css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <header>
        <nav class="b_preview-day navbar navbar-default navbar-static-top navbar-inverse ">
            <div class="container  ">
                <a href="#" class="navbar-link"><img class="navbar-text navbar-left b_preview-logo " src="/Content/Images/logo.jpg" alt="Логотип"></img></a>                
                @Html.Partial("_LoginPartial")
            </div>
        </nav>
        
    </header>

    <div class="container body-content">
        @RenderBody()        
        <nav class="b_preview-footer navbar navbar-default navbar-fixed-bottom">
            <div class="container">
                <div>
                    <p class="navbar-text navbar-left  "><a href="#" class="navbar-link b_preview-organization">© 2009–2016 ООО «Электронный дневник»</a></p>
                </div>
            </div>
        </nav>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
