@model OnlineDiary.Models.LoginViewModel
@{
    ViewBag.Title = "Домашняя страница";
}
<div class="panel panel-default b_preview-enter b_preview-form">
    <div class="panel-heading b_preview-enter ">Вход в дневник</div>
    <div class="panel-body">
        @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label>Логин</label>
                @Html.TextBoxFor((model => model.Email), new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label>Пароль</label>
                @Html.PasswordFor((model => model.Password), new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
            <button type="submit" class="btn btn-primary">Войти</button>
        }
    </div>
</div>
