@model KeyValuePair<string, OnlineDiary.Models.ScheduleLessonViewModel[]>
@{ 
    object isTeacher = false;
    ViewData.TryGetValue("isTeacher", out isTeacher);
    bool IsTeacher = false;
    if (isTeacher != null) {
        IsTeacher = (bool)isTeacher;
    }
}
<div class="col-md-4 col-sm-6 col-xs-12">
    <table class="table table-bordered b-preview_table">
        <thead>
            <tr>
                <th colspan="2">@Model.Key</th>
                <th colspan="1">@ViewData["dayString"]</th>
            </tr>
            <tr>
                <th ># п/п</th>
                <th >Время</th>
                <th class="b-preview_subject">Предмет</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < OnlineDiary.Models.Diary.ScheduleLesson.MAX_LESSONS_PER_DAY; i++) {
                <tr>
                    <td>@(i + 1)</td>
                    <td>8:00 - 8:30</td>
                    @if (Model.Value.Length > i && Model.Value[i] != null) {
                        <td class="b-preview_subject" @if (Model.Value[i].isHaveHomeWork(((DateTime)ViewData["day"])) || IsTeacher ) { <text>data-lesson-id="@Model.Value[i].Id"</text>}>@Model.Value[i].Title
                        @if (Model.Value[i].isHaveHomeWork(((DateTime)ViewData["day"])) || IsTeacher) {
                            <span class="glyphicon glyphicon-edit"></span>
                        }                        
                    </td>
                    } else {
                        <td class="b-preview_subject">Нет урока</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>