@model OnlineDiary.Models.ChildrenMarksViewModel
@{
    ViewBag.Title = "Оценки";
    string[] quadmesters = new string[]
    {
        " первую ",
        " вторую ",
        " третью ",
        " четвертую "
    };
    var period = Model.GetPeriod();
    int cruancyCounter = 0;
}
<div>
    @Html.ActionLink("Оценки за предыдущий период", "ChildrenMarks", new
    {
        quadmester = Model.quadmesterNumber  == 1 ? 4 : Model.quadmesterNumber - 1,
        year = Model.quadmesterNumber == 1 ? Model.CurrentYear - 1 : Model.CurrentYear,
    })
    @Html.ActionLink("Оценки за следующий период", "ChildrenMarks", new
    {
        quadmester = Model.quadmesterNumber == 4 ? 1 : Model.quadmesterNumber + 1,
        year = Model.quadmesterNumber  == 4 ? Model.CurrentYear + 1 : Model.CurrentYear,
    })
</div>
<h2>Оценки ученика класса @(" " + Model.getClassName(Model.User) ) </h2>
<h3>
    @(Model.User.FirstName + " за " +
      quadmesters[Model.quadmesterNumber - 1] + "четверть " + Model.CurrentYear + " - " + (Model.CurrentYear + 1) + " учебного года")
</h3>
<div class="">
    @if (Model.User != null)
    {
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Предмет</th> 
                    @for (DateTime date = period.Item1; date <= period.Item2; date = date.AddDays(1))
                    {
                        if (date.DayOfWeek != DayOfWeek.Sunday)
                        {
                            <th>@date.ToString("dd.MM")</th>
                        }
                    }
                    <th>Количество пропусков</th>
                    <th>Средняя оценка по предмету</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var lesson in Model.getLessons(Model.User))
                {
                    cruancyCounter = 0;
                    int sumMarks = 0;
                    int marksCounter = 0;
                    <tr>
                        <td>
                            @lesson.Title
                        </td>
                        @for (DateTime date = period.Item1; date <= period.Item2; date = date.AddDays(1))
                        {
                            if (date.DayOfWeek != DayOfWeek.Sunday)
                            {
                                int? val = Model.getMarkValue(date, lesson.Id, Model.User);
                                if (val != null)
                                {
                                    <td>
                                        <b>@val</b>
                                    </td>
                                }
                                else if (Model.IsTruancyed(Model.User.Id, lesson.Id, date))
                                {
                                    <td><b>Н</b></td>
                                    cruancyCounter++;
                                }
                                else
                                {
                                    <td></td>
                                }
                            }
                        }
                        <td>@cruancyCounter</td>
                        <td>@(((double)sumMarks / marksCounter).ToString("0.00"))</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Ошибка</p>
    }
</div>
