@model OnlineDiary.Models.ChildrenMarksViewModel
@{
    ViewBag.Title = "Оценки";
    string[] quadmesters = new string[]
    {
        " первую ",
        " вторую ",
        " третью ",
        " четвертую "
    };
    var period = Model.GetPeriod();
    int cruancyCounter = 0;
    int countDays = (period.Item2 - period.Item1).Days / 2;

    var lessons = Model.getLessons(Model.User);
    int[] cruancys = new int[lessons.Count];
    int[] summarks = new int[lessons.Count];
    int[] countmarks = new int[lessons.Count];
}
<div class="page-header">
    <h2>Оценки ученика класса @Model.getClassName(Model.User) <small>,@Model.User.FirstName за @quadmesters[Model.quadmesterNumber - 1] четверть @Model.CurrentYear @(Model.CurrentYear + 1) учебного года</small></h2>
</div>
<div class="">
    @Html.ActionLink("Оценки за предыдущий период", "ChildrenMarks", new
    {
        quadmester = Model.quadmesterNumber  == 1 ? 4 : Model.quadmesterNumber - 1,
        year = Model.quadmesterNumber == 1 ? Model.CurrentYear - 1 : Model.CurrentYear,
    }, new {  @class="btn btn-primary"})

    @Html.ActionLink("Оценки за следующий период", "ChildrenMarks", new
    {
        quadmester = Model.quadmesterNumber == 4 ? 1 : Model.quadmesterNumber + 1,
        year = Model.quadmesterNumber  == 4 ? Model.CurrentYear + 1 : Model.CurrentYear,
    }, new { @class="btn btn-primary" })
</div>
<div class="marks--content">
    @if (Model.User != null)
    {
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#part1">Часть1</a></li>
            <li><a data-toggle="tab" href="#part2">Часть 2</a></li>
        </ul>
        <div class="tab-content">
            <div id="part1" class="tab-pane active table-responsive">
                @CreateTable(period.Item1, period.Item1.AddDays(countDays),
                         cruancys, summarks, countmarks, false, lessons)
            </div>
            <div id="part2" class="tab-pane table-responsive">
                @CreateTable(period.Item1.AddDays(countDays + 1), period.Item2,
                         cruancys, summarks, countmarks, true, lessons)
            </div>
        </div>
    }
    else
    {
        <p>Не выбран пользователь</p>
    }    
    @*@if (Model.User != null)
    {
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Предмет</th> 
                    @for (DateTime date = period.Item1; date <= period.Item2; date = date.AddDays(1))
                    {
                        if (date.DayOfWeek != DayOfWeek.Sunday)
                        {
                            <th>@date.ToString("dd.MM")</th>
                        }
                    }
                    <th>Количество пропусков</th>
                    <th>Средняя оценка по предмету</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var lesson in Model.getLessons(Model.User))
                {
                    cruancyCounter = 0;
                    int sumMarks = 0;
                    int marksCounter = 0;
                    <tr>
                        <td>
                            @lesson.Title
                        </td>
                        @for (DateTime date = period.Item1; date <= period.Item2; date = date.AddDays(1))
                        {
                            if (date.DayOfWeek != DayOfWeek.Sunday)
                            {
                                int? val = Model.getMarkValue(date, lesson.Id, Model.User);
                                if (val != null)
                                {
                                    <td>
                                        <b>@val</b>
                                    </td>
                                }
                                else if (Model.IsTruancyed(Model.User.Id, lesson.Id, date))
                                {
                                    <td><b>Н</b></td>
                                    cruancyCounter++;
                                }
                                else
                                {
                                    <td></td>
                                }
                            }
                        }
                        <td>@cruancyCounter</td>
                        <td>@(((double)sumMarks / marksCounter).ToString("0.00"))</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Ошибка</p>
    }*@
</div>
@helper CreateTable(DateTime start, DateTime end, int[] cryancys, int[] summarks,
                    int[] countmarks, bool endTable, List<OnlineDiary.Models.Diary.Lesson> lessons)
{
    int i = 0;
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Предмет</th>
                @for (DateTime date = start; date <= end; date = date.AddDays(1))
                {
                    if (date.DayOfWeek != DayOfWeek.Sunday)
                    {
                        <th>@date.ToString("dd.MM")</th>
                    }
                }
                @if (endTable)
                {
                    <th>Количество пропусков</th>
                    <th>Средняя оценка по предмету</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var lesson in lessons)
            {
                <tr>
                    <td>
                        @lesson.Title
                    </td>
                    @for (DateTime date = start; date <= end; date = date.AddDays(1))
                    {

                        if (date.DayOfWeek != DayOfWeek.Sunday)
                        {
                            int? val = Model.getMarkValue(date, lesson.Id, Model.User);
                            if (val != null)
                            {
                                <td>
                                    <b>@val</b>
                                </td>
                                countmarks[i]++;
                                summarks[i] += (int)val;
                            }
                            else if (Model.IsTruancyed(Model.User.Id, lesson.Id, date))
                            {
                                <td><b>Н</b></td>
                                cryancys[i]++;
                            }
                            else
                            {
                                <td></td>
                            }
                        }
                    }
                    @if (endTable)
                    {
                        <td>@cryancys[i]</td>
                        <td>@(((double)summarks[i] / countmarks[i]).ToString("0.00"))</td>
                    }
                </tr>
                i++;
            }
        </tbody>
    </table>
}