@model OnlineDiary.Models.ChildrenMarksViewModel
@{
    ViewBag.Title = "Итоговые Оценки";
    string[] head = new string[]
    {
        "Оценка за первую четверть",
        "Оценка за вторую четверть",
        "Оценка за третью четверть",
        "Оценка за четвертую четверть",
        "Годовая оценка"
    };
}
<div>
    @Html.ActionLink("Оценки за предыдущий год", "ChildrenFinalMarks", new
{
    year = Model.CurrentYear - 1
})
    @Html.ActionLink("Оценки за следующий год", "ChildrenFinalMarks", new
{
    year = Model.CurrentYear + 1
})
</div>
<h2>Итоговые оценки ученика класса @(" " + Model.getClassName(Model.User) ) </h2>
<h3>
    @(Model.User.FirstName + " за " + Model.CurrentYear + " - " + (Model.CurrentYear + 1) + " учебный год")
</h3>
<div class="">
    @if (Model.User != null)
    {
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Предмет</th>
                    @for (int i = 0; i < 5; i++)
                    {
                        <th>@head[i]</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var lesson in Model.getLessons(Model.User))
                {
                    int[] marks = new int[4];
                    <tr>
                        <td>
                            @lesson.Title
                        </td>
                        @for (int i = 1; i < 5; i++)
                        {
                            int val = Model.GetFinalMark(Model.User.Id, lesson.Id, i);
                            <td>
                                <b>0</b>
                            </td>
                            marks[i - 1] = val;
                        }
                        @{int finalMark = (int)Math.Round((double)(marks[0] + marks[1] + marks[2] + marks[3]) / 4);}
                        <td><b>@finalMark</b></td>
                    </tr>
                            }
            </tbody>
        </table>
                            }
                            else
                            {
                                <p>Ошибка</p>
                            }
</div>