@model OnlineDiary.Models.ParentMarksViewModel
@{
    ViewBag.Title = "Оценки Ребенка";
    string[] quadmesters = new string[]
    {
            " первую ",
            " вторую ",
            " третью ",
            " четвертую "
    };
    var lessons = Model.getLessons(Model.CurrentChildren);
}
<div class="marks-content">
    <div class="page-header">
        <h1>Оценки ученика класса @Model.getClassName(Model.CurrentChildren) <small>, @Model.GetUserName(Model.CurrentChildren) за @quadmesters[Model.quadmesterNumber - 1] четверть @Model.CurrentYear -  @(Model.CurrentYear + 1)  учебного года </small> </h1>
    </div>
    @if (Model.quadmesterNumber > 1)
    {
        @Html.ActionLink("Оценки за предыдущую четверть", "ParentMarks", new
   {
       childrenId = Model.CurrentChildren == null ? "" : Model.CurrentChildren.Id,
       quadmester = Model.quadmesterNumber - 1,
   }, new { @class = "btn btn-primary" })
    }
    @if (Model.quadmesterNumber < 4)
    {
        @Html.ActionLink("Оценки за следующую четверть", "ParentMarks", new
   {
       childrenId = Model.CurrentChildren == null ? "" : Model.CurrentChildren.Id,
       quadmester = Model.quadmesterNumber + 1,
   }, new { @class = "btn btn-primary" })
    }
    <br />
    <br />
    @using (Html.BeginForm("ParentMarksPost", "Diary", FormMethod.Post, new { @class = "form-inline select-children" }))
    {
        if (Model.Childrens.Count > 1)
        {
            <div class="form-group">
                <label>Выберите ребенка</label>
                @Html.DropDownList("ChildrenId", new SelectList(Model.Childrens, "Key", "Value"), new { @class = "form-control" });
            </div>
            <button type="submit">Показать</button>
        }
        else
        {
            <label>Ребёнок: @Model.GetUserName(Model.CurrentChildren)</label>
        }
    }
</div>
@if (Model.CurrentChildren != null)
{
    if (lessons.Count > 0 && Model.Period != null && Model.Period.Item1 != null && Model.Period.Item2 != null)
    {
        int[] cruancys = new int[lessons.Count];
        int[] summarks = new int[lessons.Count];
        int[] countmarks = new int[lessons.Count];
        if (Model.marksModel.TablesCounter == 0)
        {
            @CreateTable(Model.Period.Item1, Model.Period.Item2, cruancys, summarks, countmarks, true, lessons)
        }
        else
        {
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#part1">Часть1</a></li>
                @for (int i = 1; i < Model.marksModel.TablesCounter; i++)
                {
                    <li><a data-toggle="tab" href="#part@(i + 1)">Часть@(i + 1)</a></li>
                }
            </ul>
            <div class="tab-content">
                <div id="part1" class="tab-pane active table-responsive">
                    @CreateTable(Model.Period.Item1, Model.marksModel.EndDates[0],
                                     cruancys, summarks, countmarks, Model.marksModel.TablesCounter == 1, lessons)
                </div>
                @for (int i = 1; i < Model.marksModel.TablesCounter; i++)
                {
                    <div id="part@(i + 1)" class="tab-pane table-responsive">
                        @CreateTable(Model.marksModel.EndDates[i - 1].AddDays(1), i == Model.marksModel.TablesCounter - 1 ?
                                           Model.Period.Item2 : Model.marksModel.EndDates[i],
                                           cruancys, summarks, countmarks, i == Model.marksModel.TablesCounter - 1, lessons)
                    </div>
                }
            </div>
        }
    }
    else
    {
        <p>Нет данных</p>
    }
}
else
{
    <p>Не выбран ребёнок</p>
}
@helper CreateTable(DateTime start, DateTime end, int[] cryancys, int[] summarks,
                    int[] countmarks, bool endTable, List<OnlineDiary.Models.Diary.Lesson> lessons)
{
int i = 0;
    <table class="table table-bordered" style="font-size:10px;">
        <thead>
            <tr>
                <th class="b-mark_name">Предмет</th>
                @for (DateTime date = start; date <= end; date = date.AddDays(1))
                {
                    if (date.DayOfWeek != DayOfWeek.Sunday)
                    {
                        <th>@date.ToString("dd.MM")</th>
                    }
                }
                @if (endTable)
                {
                    <th class="b-mark_name">Количество пропусков</th>
                    <th class="b-mark_name">Оценка за четверть</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var lesson in lessons)
            {
                <tr>
                    <td>
                        @lesson.Title
                    </td>
                    @for (DateTime date = start; date <= end; date = date.AddDays(1))
                    {

                        if (date.DayOfWeek != DayOfWeek.Sunday)
                        {
                            int? val = Model.getMarkValue(date, lesson.Id, Model.CurrentChildren);
                            if (val != null)
                            {
                                <td>
                                    <b>@val</b>
                                </td>
                                countmarks[i]++;
                                summarks[i] += (int)val;
                            }
                            else if (Model.IsTruancyed(Model.CurrentChildren.Id, lesson.Id, date))
                            {
                                <td><b style="color:red;">Н</b></td>
                                cryancys[i]++;
                            }
                            else
                            {
                                <td></td>
                            }
                        }
                    }
                    @if (endTable)
                    {
                        <td>@cryancys[i]</td>
                        if (countmarks[i] != 0)
                        {
                            <td>@((int)(Math.Round((double)summarks[i] / countmarks[i], MidpointRounding.AwayFromZero)))</td>
                        }
                        else
                        {
                            <td>0</td>
                        }
                    }
                </tr>
                i++;
            }
        </tbody>
    </table>
}