@model OnlineDiary.Models.ParentUserScheduleViewModel
@{
    ViewBag.Title = "Расписание родителя";
    int dayCounter = 0;
}

<div class="schedule">
    <div class="page-header week-select">
        <h3> Расписание детей @Model.getParentUserName()</h3>
    </div>

    <div class="schedule__content">
        <div class="schedule-days">
            @Html.Partial("_WeekSelect")
            @if (Model.Childrens.Length > 0)
            {
                <ul class="nav nav-tabs" role="tablist">
                    @for (int i = 0; i < Model.Childrens.Length; i++)
                    {
                        <li @Html.Raw(i == 0 ? "class=\"active\"" : "") role="presentation">
                            <a aria-controls="@Html.Raw("child" + Model.Childrens[i].Id)" href="@Html.Raw("#child" + Model.Childrens[i].Id)" role="tab" data-toggle="tab"> @Model.getUserName(Model.Childrens[i]) </a>
                        </li>
                    }
                </ul>
                <div class="tab-content childrens--content">
                    @for (int c = 0; c < Model.Childrens.Length; c++)
                    {
                        dayCounter = 0;
                        <div role="tabpanel" class="tab-pane @Html.Raw( c == 0 ? "active" : "" )" id="@Html.Raw("child" + Model.Childrens[c].Id)">
                            @foreach (var dl in Model.getDaysWithScheduleLessons(Model.Childrens[c].Id))
                            {
                                @Html.Partial("_DayOfSchedule", dl, new ViewDataDictionary() { { "dayString", Model.StartWeek.AddDays(dayCounter).ToString("dd.MM") }, { "day", Model.StartWeek.AddDays(dayCounter) } })
                                dayCounter++;
                            }
                        </div>
                    }
                </div>
            }
            else
            {
                <p>У тебя нет детей, =(</p>
            }
        </div>
    </div>
</div>

@Html.Partial("_ModalSchedule", "p")
@section Scripts{
    <script>
        window.date = {
            startWeek: '@Model.StartWeek.ToString()',
            endWeek: '@Model.EndWeek.ToString()'
        };
        window.urls = {
            getHomeWork: '@Url.Action("GetHomeWork","Work")',
            setHomeWork : '@Url.Action("SetHomeWork", "Work")'
        };
        window.ids = {
            homeworkModal: 'home-work-modal',
            homeWorkText: 'home-work-text',
            homeWorkSend: 'home-work-send'
        };
    </script>
    @Scripts.Render("~/Scripts/Schedule.js")
}